body {
    background-color: #0F706F;
}

header {
  background-color: black;
  padding: 30px;
  text-align: center;
  font-size: 45px;
  color: #71C0BB;
}

nav {
  float: left;
  width: 20%;
  height: 500px;
  background: #71C0BB;
  margin-top: 20PX;
  margin-right: 10px;
  transition: 0.3s ease-in-out;

}

nav ul {
  list-style-type: none;
  padding: 0;
  font-size: 25px;
  height: 300px;

}

nav li a {
    text-align: center;
    display: block;
}

li :hover {
    background-color: #5fa8a5;

}

ul li a.active {
  background-color: #4E6688;
}

a {
    color: black;
    text-decoration: none;
    transition:  0.3s;
}

article {
  float: left;
  width: 79.2%;
  background-color: #71C0BB;
  height: 500px;
    margin-top: 20PX;
        transition: 0.3s ease-in-out;
}

article a {
      font-size: 26px;
    color: black;
    text-decoration: none;
    text-align: center;
}

article p {
    font-size: 20px;
    color: black;
    text-align: center;
    padding: 5px 5px 5px 5px;
}

section::after {
  content: "";
  display: table;
  clear: both;
  
}

p {
    font-size: 23px;
    text-align: center;
    padding: 5px 5px 5px 5px;
}

@media (max-width: 1778px) {
  nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 50px;
  }

  nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  margin: 0;
}

nav a {
  text-decoration: none;
  padding: 10px 15px;
}

ul li a.active {
  height: 30px;
}

a:hover {
  height: 30px;
}

  article {
    width: 95%;
    height: auto;
  }

  article a {
    font-size: 20px;
  }

  article h1 {
    font-size: 1px;
  }

  h1 {
    font-size: 50px;
  }

  article p {
    font-size: 11.7px;
  }
}


footer {
  background-color: #000000;
  padding: 10px;
  color: #71C0BB;
  margin-top: 20px;
  height: 100px;
  font-size: 25px;
} 

footer p {
  font-size: 15px;
  text-align: left;
}

article:hover {
  transform: scale(1.01);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 2);
}

nav:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 2);
}

  a:hover {
        background-color: #083d2d;
      color: #71C0BB;
      font-size: 31px;
  }