body {
    background-color: #3a3941;
}

header {
  background-color: black;
  padding: 30px;
  text-align: center;
  font-size: 45px;
  color: #71C0BB;
}

nav {
  float: left;
  width: 20%;
  height: 380px;
  background: #71C0BB;
  margin-top: 20PX;
  margin-right: 10px;

}

nav ul {
  list-style-type: none;
  padding: 0;
  font-size: 25px;
  height: 300px;

}

nav li a {
    text-align: center;
    display: block;
}

li :hover {
    background-color: #5fa8a5;

}

ul li a.active {
  background-color: #4E6688;
}

a {
    color: black;
    text-decoration: none;
}

article {
  float: left;
  padding: 20px;
  width: 77.3%;
  background-color: #71C0BB;
  height: 340px;
    margin-top: 20PX;
}

article a {
      font-size: 26px;
    color: black;
    text-decoration: none;
    text-align: center;
    transition:  0.3s;
}

article p {
    font-size: 20px;
    color: black;
    text-align: center;
    padding: 5px 5px 5px 5px;
}

section::after {
  content: "";
  display: table;
  clear: both;
}

p {
    font-size: 23px;
    text-align: center;
    padding: 5px 5px 5px 5px;
}



@media (max-width: 600px) {
  nav {
    width: 48%;
    height: 390px;
  }

  article {
    width: 41%;
    height: 349px;
  }
}

footer {
  background-color: #000000;
  padding: 10px;
  color: #71C0BB;
  margin-top: 20px;
  height: 100px;
  font-size: 25px;
}

footer p {
  font-size: 15px;
  text-align: left;
}
