#Heading {
    color: rgb(0, 0, 0);
    background-color: rgb(86, 247, 247);
    border-radius: 13px;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 5px 5px 5px black;
    margin-bottom: 100px;
    height: 400px;
    text-align: center;
}

.para {
    color: rosybrown;
}

#content {
    background-color: rgb(0, 81, 119);
    border-radius: 13px;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 5px 5px 5px black;
    margin-bottom: 100px;
    height: 300px;
    text-align: center;
}

.sub-content {
    background-color: aqua;
    float: left;
    border: 2px solid black;
    margin: 5px;
    border-radius: 13px;
    width: 32%;
    height: 200px;

}

#box1 {
    background-color: 03045e;
}

#box2 {
    background-color: rgb(0, 255, 0);
}

#box3 {
    background-color: rgb(0, 0, 255);
}

#box4 {
    background-color: rgb(255, 255, 0);
}

#box5 {
    background-color: rgb(255, 0, 255);
}

#box6 {
    background-color: rgb(0, 255, 255);
}

#box7 {
    background-color: rgb(192, 192, 192);
}

#box8 {
    background-color: rgb(255, 165, 0);
}

#box9 {
    background-color: rgb(128, 0, 128);
}