body {
    background-color: black;
}

.green {
    margin-left: 1000px;
    font: 18px Arial, sans-serif;
    color: rgb(0, 153, 0);
}

.blue {
    font: 15px "Lucida Console", "Courier New", monospace;;
    color: rgb(83, 138, 255);
}

.lightblue {
    font: 23px Arial, sans-serif;
    color: rgb(0, 155, 147);
}

.white {
    font: 20px Arial, sans-serif;
    color: rgb(255, 255, 255);
}

.orange {
    font: bold 20px Arial, sans-serif;
    color: rgb(182, 109, 0);
}

.lightgreen {
    font: 20px Arial, sans-serif;
    color: rgb(153, 255, 153);
}

.darkgreen {
    font: 15px Arial, sans-serif;
    color: rgb(0, 94, 89);
}

.lightblue1 {
    font: 20px Arial, sans-serif;
    color: rgb(46, 255, 255);
}

.white1 {
    font: 15px Arial, sans-serif;
    color: rgb(255, 255, 255);
}

.violet {
    font: 20px Arial, sans-serif;
    color: rgb(255, 188, 255);
}

.white2 {
    font: 20px Arial, sans-serif;
    color: #8be4ff;
}

.first, .second, .third  {
    margin-left: 1000px;
}