body {
    background-color: #534e4e;
}

header {
  background-color: black;
  padding: 30px;
  text-align: center;
  font-size: 45px;
  color: red;
}

nav {
  float: left;
  width: 20%;
  height: 380px;
  background: grey;
  margin-top: 20PX;
  margin-right: 10px;

}

nav ul {
  list-style-type: none;
  padding: 0;
  font-size: 25px;
  height: 300px;

}

nav li a {
    text-align: center;
    display: block;
}

li :hover {
    background-color: #000000;

}

ul li a.active {
  background-color: #474747;
}

a {
    color: red;
    text-decoration: none;
}

article {
  float: left;
  padding: 20px;
  width: 77.3%;
  background-color: #f1f1f1;
  height: 340px;
    margin-top: 20PX;
}

section::after {
  content: "";
  display: table;
  clear: both;
}

p {
    font-size: 23px;
    text-align: justify;
    padding: 5px 5px 5px 5px;
}

footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}


@media (max-width: 600px) {
  nav {
    width: 48%;
    height: 390px;
  }

  article {
    width: 41%;
    height: 349px;
  }
}

footer {
  background-color: #000000;
  padding: 10px;
  text-align: center;
  color: rgb(255, 0, 0);
  margin-top: 20px;
  font-size: 25px;
  height: 100px;
}

footer p {
  font-size: 15px;
  text-align: left;
}
